/*globals*/

.margin-l-100px{
    margin-left:0;
}

@media (min-width:769px){
    .margin-l-100px{
        margin-left: 100px;
    }
}
.img-centered{
    margin: 0 auto;
}
.centered{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.line-through{
    text-decoration: line-through;
}
.yellow{
    color: rgb(231, 162, 12);
}
.yellow-button{
    background-color: rgb(231, 162, 12);
}
.grey{
    background-color: rgb(231, 231, 231);
}
.light-orange{
    background-color: rgb(252, 236, 216);
}
/*****header*****/

/*navbar*/
.logo{
    max-width: 80px;
}
.logo img{border-radius: 50%;}


/*****end-header*****/
/*hero*/
.hero-text{
    display: flex;
    align-items: center;
}
/*footer*/
footer div.logo img{
    display: flex;
    justify-content: center;
}
